{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="assets/css/firstAcess.css">
{% endblock %}

{% block content %}
<div id="div2" class="row rounded-3 d-flex justify-content-center align-content-start ">

    <div class="col-10 mt-3">
        <h3 class="reset header-creat-exer-v2">
            Crie seu treino<br> Com a Musculação
        </h3>
    </div>

    <div class="col-10 p-3 d-flex flex-column reset-Padding">
        <span class="text-line">
            Para encontrar seu nível ideal de peso, teste sua capacidade com 11 repetições. <br>Insira o resultado no
            campo abaixo e prossiga.
        </span>
    </div>

    <div id="CarrosselExer" data-bs-touch="false" class="carousel2 slide" style="max-width: 100vw;">
        <div id="contentCarrossel" class="carousel-inner">
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Sugestão de troca</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Caso nao tiver nenhum exercicio -->
                <div id="zeroExer" class="row d-none modal-body">
                    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                        <span id="titleSugest" class="mt-2 text-center font-capt">Verificamos que não conseguiu
                            fazer o
                            exercicio de
                            NIVEL 0 da categoria</span>

                        <span class=" text-center font-capt fs-4 fw-bolder" id="categoryNull"></span>

                        <span class=" text-center font-capt"></span>

                        <span id="sugest" class=" text-center font-capt">
                            Sugerimos mudar para <strong>Treino Hibrido</strong> ou <strong>Treino de
                                Musculação</strong>
                        </span>


                    </div>
                    <div id="btnSugest" class="col-12 d-flex justify-content-around align-items-center my-3">
                        <button data-bs-dismiss="modal" class="btn btn-success w-25">Hibrido</button>
                        <button data-bs-dismiss="modal" class="btn btn-success w-25">Musculação</button>
                    </div>
                </div>

                <!-- Caso tiver algum exericio e o atual for o ultimo -->
                <div id="exerLeve" class="row d-none modal-body px-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <span class="mt-2 text-center font-capt">Esse era o exercicio mais leve, mas não tem
                            problema!</span>
                    </div>
                    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                        <span class="text-center font-capt">Verificamos que você conseguiu fazer o exercicio </span>
                        <span id="exerSameCategory" class="font-capt fw-bolder fs-4"></span>
                        <span class="text-center font-capt">então vamos fazer o seguinte:</span>
                    </div>
                    <div class="col-12 bg-success2 rounded-3 d-flex justify-content-center align-items-center">
                        <span class="mt-2 text-center font-capt">
                            Você ira progredir apenas
                            com um exercicio e
                            assim que tiver mais forte iremos sugerir um exercicio novo
                        </span>
                    </div>
                    <div class="col-12 mt-4 d-flex justify-content-center align-items-center">
                        <button id="exerLeveRemove" data-bs-dismiss="modal" class="btn btn-success w-50">OK</button>
                    </div>
                </div>

                <div class="modal-body" id="divToggle">
                    <!-- <div class="row reset-Padding my-3">
                        <div class="col-5 reset-Padding d-flex justify-content-center align-items-center">
                            <img width="125" height="125"
                                src="https://cdn.w600.comps.canstockphoto.com.br/trabalhando-dela-joelho-femininas-vetor-clip-arte_csp89802369.jpg">
                        </div>

                        <div class="col-7 d-flex align-items-center reset-Padding">
                            <div class="row reset-Padding">
                                <div class="col-12 d-flex justify-content-start align-items-center reset-Padding">
                                    <span class="reset">Knee Push Ups (de joelho)</span>
                                </div>

                                <div class="col-12 d-flex justify-content-start align-items-center reset-Padding">
                                    <span class="reset">(Push Horizontal)</span>
                                </div>

                                <div class="col-12 d-flex justify-content-center align-items-center reset-Padding W-100">
                                    <button class="btn btn-primary mt-2 " data-bs-dismiss="modal" style="width: 100%;">Trocar</button>
                                </div>
                            </div>
                        </div>

                    </div>  -->

                </div>

            </div>
        </div>
    </div>

    <!-- Modal de Exercicios com segundos-->
    <div class="modal fade" id="toggleExerSegs" tabindex="-1" aria-labelledby="toggleExerSegsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center align-items-center">
                    <span class="text-center text-uppercase font-title-modal fw-bold" id="toggleExerSegsLabel">Seu
                        exercicio
                        está pesado!</span>
                </div>
                <div class="modal-body">
                    <div class="row reset-Padding">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <span class="text-center font-title-modal">Sugerimos excluir o exercicio </span>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-cente">
                            <span id="exerDeleter" class="text-center fw-bolder text-uppercase"></span>
                        </div>
                        <div class="col-12 mt-3 d-flex flex-column justify-content-center align-items-cente">
                            <span class="mt-2 text-center font-capt">
                                Você terá que fazer muitas séries de
                                <span id="nameExer" class="fw-bolder text-uppercase"></span> e por isso ele pode valer
                                por 2
                                exercícios ao mesmo tempo.
                            </span>
                            <span class="mt-2 text-center font-capt text-danger">
                                Se não quiser excluir, terá que excolher um mais fácil para diminuir o numero de
                                séries.
                            </span>
                        </div>
                    </div>
                </div>


                <div class="modal-footer d-flex justify-content-center">
                    <button id="removeExer" data-bs-dismiss="modal" class="btn btn-success">Excluir</button>
                    <button id="notRemove" data-bs-dismiss="modal" class="btn btn-success">Não Excluir</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <button class="btn btn-success my-3" onclick="enviarTreino()">Criar Treino</button>
    </div>
</div> -->

<audio id="myAudio">
    <source src="assets/audio/not.mp3" type="audio/mp3">
</audio>

<script type="module">
    import { apiGet } from './assets/js/api.js'

    var treino = []
    var newExercises = []
    var newExercisesBase = []
    var exercisesMusc;
    var getExercisesBodyWeight;
    let allexercicies
    let listExer = []

    function showBtn(btn) {
        btn.classList.add('d-block')
        btn.classList.remove('d-none')
    }

    async function creatPage() {
        exercisesMusc = await apiGet('getExercisesMusc', false);
        exercisesMusc = exercisesMusc.filter(e => e.default == true)
        getExercisesBodyWeight = await apiGet('getExercisesBodyWeight', false);
        allexercicies = [...exercisesMusc, ...getExercisesBodyWeight]
        return
    }

    function removeUndefined(array) {
        return array.filter(item => item !== undefined);
    }

    window.addEventListener("load", async function () {
        await creatPage()
        creatExercisesBase()
    });

    function getImgUrl(name) {
        let exercise = exercisesMusc.find(e => e.name === name)

        if (exercise == null) {
            exercise = getExercisesBodyWeight.find(e => e.name === name)
        };
        return exercise.url;
    }

    function correctingArray(treino, exercicio) {
        let data_all = [];

        exercicio.forEach(a => {
            treino.forEach(t => {
                if (a["name"] == t["name"]) {
                    let new_data = Object.assign({}, a, t);
                    data_all.push(new_data);
                }
            });
        });
        return data_all
    }

    function creatExercisesBase() {
        // Div onde sera add os exercicios
        const divPai2 = document.getElementById('div2')
        var x = 1
        listExer = exercisesMusc

        listExer = removeUndefined(listExer)
        listExer.forEach(exer => {

            if (exer == undefined) {
                return
            }
            // Criação da nova div
            var novaDiv = document.createElement("div");
            x == 1 ? novaDiv.className = "carousel-item active" : novaDiv.className = "carousel-item"
            novaDiv.id = "exer" + x;

            // Criação do conteúdo da div
            novaDiv.innerHTML = `<div class="row reset-Padding">
                <div class="col-10 m-auto d-flex justify-content-center align-items-center"
                    style="background-color: #545454;">
                    <span class="reset pt-1 pb-1 text-count ">${x}/${listExer.length} </span>
                </div>

                <div class="col-10 reset-Padding mt-2 m-auto d-flex justify-content-center align-items-center rounded-4"
                    style=" height: 100%;">
                    <div class="row reset-Padding d-flex justify-content-between">

                        <div class="col-10 reset-Padding d-flex justify-content-center align-items-center m-auto"
                            style="border: 1px solid #545454; border-radius: 13px;">
                            <img id="${'img' + x}" src="${exer.url}" class="img-size" style="border: none;">
                        </div>

                        <div class="col-12 mt-2">
                            <div class="row d-flex justify-content-center align-items-center">
                                
                                <div
                                    class="col-12 d-flex justify-content-center align-items-center reset-Padding">
                                    <input type="hidden" id=${'nivel' + x} name="nivel" value="${exer.nivel}">
                                    <span id=${'ValidTitle' + x} class="reset title-creat-exer" >
                                    ${exer.name}
                                </span>
                                </div>



                                <div
                                    class="row reset-Padding mt-2 mb-3 d-flex justify-content-center align-items-center">
                                    <div
                                        class="col-${exer.kg == 0 ? `3` : `4`} d-flex flex-column justify-content-center align-items-center">
                                        <span class="reset  name-input">
                                            Série
                                        </span>
                                        <input type="number" class="input-creat" name="" id=""
                                            placeholder="1" disabled>
                                    </div>

                                    ${exer.kg == 0 ?
                    `<div class="col-${exer.kg == 0 ? `3` : `4`} d-flex flex-column justify-content-center align-items-center">
                                        <span class="reset  name-input">
                                            Rept
                                        </span>
                                        
                                            <input type="number" class="input-creat" required="true" disabled placeholder="11">
                                        </div>`
                    :
                    ``
                }

                                    <div class="col-${exer.kg == 0 ? `3` : `4`} d-flex flex-column justify-content-start align-items-center">
                                        <span id="${'repts' + x}" class="reset name-input">
                                            ${exer.segs ? 'SEGS' : exer.kg == 0 ? 'KG' : 'REPT'}
                                        </span>
                                        <input type="number" class="input-creat2" id="${'ValidExer' + x}">
                                    </div>

                                    
                                    
                                    <div class="col-12 d-flex justify-content-center align-items-center mt-4 reset-Padding">
                                        <span id="msgTopBtn" class="reset" style="color:#707070; font-size:23px;">Descanso: 3 minutos</span>
                                    </div>

                                    <div id="${'container' + x}" class="col-10 w-100 d-flex justify-content-center align-items-center">
                                        <div id="${'clock' + x}" onclick="btnClockStart(${x})" class="btn btn-reset">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-self-auto">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <polyline points="12 6 12 12 16 14"></polyline>
                                          </svg>
                                          Testar próximo
                                        </div>

                                        <div id="${'progress-bar' + x}" class="d-none"></div>

                                        <div id="${'countdown' + x}" class="d-none d-flex justify-content-center align-items-center h-100">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <polyline points="12 6 12 12 16 14"></polyline>
                                          </svg>
                                          <span id="${'timecount' + x}">03:00</span>
                                        </div>
                                    </div>
                                    
                                    <div id="${'toggleExer' + x}"class="col-12 d-none d-flex flex-column justify-content-center mt-4">
              
                                    <button id="${'btn' + x}" onclick="filter(${x}, '${exer.name}', '${exer.category}', '${exer.type}', ${exer.nivel})" class="btn btn-primary mb-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Trocar Exercicío</button>
                                      
                                    </button>
                          
                                      <span id="${'heavy' + x}" class="reset text-danger text-start px-2 d-none" style="font-size: 10px;">
                                              *Ops, sua quantidade de ${exer.segs ? 'segundos' : 'repetição'} está baixa! Vamos trocar para um mais leve?
                                          </span>
                          
                                           <span id="${'light' + x}" class="reset text-danger text-start px-2 d-none" style="font-size: 10px;">
                                              *Ops, sua quantidade de ${exer.segs ? 'segundos' : 'repetição'} está  alta! Vamos trocar para um mais pesado?
                                          </span> 
                          
                                          </div>
                                          <span id="${'success' + x}" class="reset px-3 text-start text-success d-none" style="font-size: 10px;">
                                          Perfeito, agora é só descansar e fazer o próximo exercício
                                          </span> 
                          
                                          <span id="${'noInput' + x}" class="reset px-3 text-start text-danger d-none" style="font-size: 10px;">
                                          Por favor, insira o numero máximo de ${exer.segs ? 'segundos' : 'repetição'}, para montarmos seu treino.
                                          </span> 

                                          <div id="${'finishExer' + x}" onclick="nextSlideExer(${x})" class="btn btn-reset d-none">
                                            Próximo exercício
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>`;
            x += 1
            contentCarrossel.appendChild(novaDiv)
        })

        // Criando as verificações "Blur"
        for (let i = 1; i < listExer.length + 1; i++) {
            creatStruct(i)
        }

    }

    function creatStruct(id) {
        const input = document.getElementById('ValidExer' + id)
        const title = document.getElementById('ValidTitle' + id)
        const repts = document.getElementById('repts' + id)

        input.addEventListener('blur', function () {
            if (input.value == NaN ||
                input.value == null ||
                input.value == undefined ||
                input.value == "") {

                input.classList.remove('input-exer')
                input.classList.add('input-exer-fail')
                repts.classList.add('text-danger')
            } else {
                repts.classList.remove('text-danger')
                input.classList.remove('input-exer-fail')
                input.classList.add('input-exer')
                openToggleExer(id, title, input, true)
            }
        })
    }

    function openToggleExer(id, Title, Input, bool) {

        const input = document.getElementById('ValidExer' + id);
        const btn = document.getElementById('toggleExer' + id)
        const light = document.getElementById('light' + id)
        const heavy = document.getElementById('heavy' + id)
        const repts = document.getElementById('repts' + id)
        const success = document.getElementById('success' + id)
        const noInput = document.getElementById('noInput' + id)
        const finishExer = document.getElementById('finishExer' + id)

        var exer = allexercicies.filter(e => e.name == Title.innerText)
        // Se for segs
        if (exer[0].segs) {
            // Se o exercicio nao for de segundos ira executar essa validação
            let segundos = input.value / 2 //Resposta em segundos
            let repeticao = 60 / Math.round(segundos) // Repostas em repetição
            repeticao = Math.round(repeticao)
            let sugundosTotais = segundos * repeticao // Segundos totais do exer

            // Dentro dos parametros
            if (repeticao <= 4 && input.value < 60) {
                input.disabled = true;
                const btnFinish = document.getElementById('finishExer' + id)
                if (btnFinish.classList.contains('d-none')) {
                    document.getElementById(`container${id}`).classList.remove('d-none')
                    noInput.classList.add('d-none')
                    if (bool) {
                        success.classList.remove('d-none')
                        // Tempo da message de sucesso
                        setTimeout(function () {
                            success.classList.add("d-none");
                        }, 3000);
                    }
                }

                noInput.classList.add('d-none')

                input.classList.remove('text-danger')
                input.classList.remove('input-danger')

                repts.classList.remove('text-danger')
                repts.classList.add('text-gray1')

                btn.classList.add('d-none')
                btn.classList.remove('d-block')

                gerarTreino(Title, Input, id)
            }
            // Se o numero de repetição for 5 ou 6 mostra o modal
            if (repeticao == 5 || repeticao == 6) {

                noInput.classList.add('d-none')
                //  dar opção de eliminar exercicio
                var modal = new bootstrap.Modal(document.querySelector('#toggleExerSegs'));
                // Pegar nome do exer que ira ser deletado
                let exerRemove = listExer.filter(e => e.category == exer[0].category && e.name != exer[0].name)

                // Imprimir na tela
                const exerDeletr = document.getElementById('exerDeleter')
                exerDeletr.innerText = exerRemove[0].name

                // Imprimir nome do exercicio que está pesado
                const name = document.getElementById('nameExer')
                name.innerText = exer[0].name



                var fixArray = []
                listExer.forEach(e => {
                    if (e == undefined) {
                        return
                    }
                    fixArray.push(e)
                })

                var countCategory = fixArray.filter(e => e.category == exer[0].category)

                if (countCategory.length == 1) {
                    // Mostra o botão de trocar o exercicio
                    btn.classList.add('d-block')
                    btn.classList.remove('d-none')
                }
                else {
                    // filtra por categori e pega o outro exercicio da mesma catagoria
                    let exerRemove = listExer.filter(e => e.category == exer[0].category && e.name != exer[0].name)

                    btn.classList.add('d-none')

                    const btnremove = document.getElementById('removeExer')
                    btnremove.onclick = function () { removeExer(exerRemove, id, Title, Input, exer) };

                    // Exibir o modal
                    modal.show();

                    const notRemove = document.getElementById('notRemove')
                    notRemove.onclick = function () { showBtn(btn) }
                }

            }
            // Se for maior que 6 mostra messagem de erro PESADO
            if (repeticao > 6 || input.value >= 60) {
                noInput.classList.add('d-none')
                // Texto de sucesso some
                success.classList.add('d-none')

                // Mostra o botão de trocar o exercicio
                btn.classList.add('d-block')
                btn.classList.remove('d-none')

                //Mostra a obs de exer leve
                light.classList.add('d-none')
                light.classList.remove('d-block')

                //Oculta a obs de exer pesado
                heavy.classList.add('d-block')
                heavy.classList.remove('d-none')

                //Add visuald e erro
                input.classList.add('text-danger')
                input.classList.add('input-danger')

                repts.classList.add('text-danger')
                repts.classList.remove('text-gray1')
            }
            // Leve
            if (repeticao < 2) {
                noInput.classList.add('d-none')
                // Texto de sucesso some
                success.classList.add('d-none')

                // Mostra o botão de trocar o exercicio
                btn.classList.add('d-block')
                btn.classList.remove('d-none')

                //Mostra a obs de exer leve
                light.classList.add('d-block')
                light.classList.remove('d-none')

                //Oculta a obs de exer pesado
                heavy.classList.add('d-none')
                heavy.classList.remove('d-block')

                //Add visuald e erro
                input.classList.add('text-danger')
                input.classList.add('input-danger')

                repts.classList.add('text-danger')
                repts.classList.remove('text-gray1')
            }
        }
        // Se for repts
        else {
            // Se for musculação
            if (exer[0].kg == 0) {
                //Se for MUSCULAÇÂO

                input.disabled = true;
                const btnFinish = document.getElementById('finishExer' + id)
                if (btnFinish.classList.contains('d-none')) {
                    document.getElementById(`container${id}`).classList.remove('d-none')
                    noInput.classList.add('d-none')
                    if (bool) {
                        success.classList.remove('d-none')
                        // Tempo da message de sucesso
                        setTimeout(function () {
                            success.classList.add("d-none");
                        }, 3000);
                    }
                }

                noInput.classList.add('d-none')
                if (bool) {
                    success.classList.remove('d-none')
                    let divExer = document.getElementById('exer' + id)
                    // Tempo da message de sucesso
                    setTimeout(function () {
                        success.classList.add("d-none");
                    }, 3000);
                }


                input.classList.remove('text-danger')
                input.classList.remove('input-danger')

                repts.classList.remove('text-danger')
                repts.classList.add('text-gray1')

                btn.classList.add('d-none')
                btn.classList.remove('d-block')
                gerarTreino(Title, Input, id)
            }
            else {
                //Se for peso do corpo
                if (input.value < 6) {
                    noInput.classList.add('d-none')

                    // Texto de sucesso some
                    success.classList.add('d-none')

                    // Mostra o botão de trocar o exercicio
                    btn.classList.add('d-block')
                    btn.classList.remove('d-none')

                    //Mostra a obs de exer pesado
                    heavy.classList.add('d-block')
                    heavy.classList.remove('d-none')

                    //Oculta a obs de exer leve
                    light.classList.add('d-none')
                    light.classList.remove('d-block')

                    //Add visuald e erro
                    input.classList.add('text-danger')
                    input.classList.add('input-danger')

                    repts.classList.add('text-danger')
                    repts.classList.remove('text-gray1')

                }
                if (input.value > 5 && input.value < 16) {
                    input.disabled = true;
                    const btnFinish = document.getElementById('finishExer' + id)
                    if (btnFinish.classList.contains('d-none')) {
                        document.getElementById(`container${id}`).classList.remove('d-none')
                        noInput.classList.add('d-none')
                        if (bool) {
                            success.classList.remove('d-none')
                            // Tempo da message de sucesso
                            setTimeout(function () {
                                success.classList.add("d-none");
                            }, 3000);
                        }
                    }

                    noInput.classList.add('d-none')
                    if (bool) {
                        success.classList.remove('d-none')
                        let divExer = document.getElementById('exer' + id)
                        // Tempo da message de sucesso
                        setTimeout(function () {
                            success.classList.add("d-none");
                        }, 3000);
                    }


                    input.classList.remove('text-danger')
                    input.classList.remove('input-danger')

                    repts.classList.remove('text-danger')
                    repts.classList.add('text-gray1')

                    btn.classList.add('d-none')
                    btn.classList.remove('d-block')
                    gerarTreino(Title, Input, id)

                }
                if (input.value > 15) {
                    // Texto de sucesso some
                    noInput.classList.add('d-none')
                    success.classList.add('d-none')

                    // Mostra o botão de trocar o exercicio
                    btn.classList.add('d-block')
                    btn.classList.remove('d-none')

                    //Mostra a obs de exer leve
                    light.classList.add('d-block')
                    light.classList.remove('d-none')

                    //Oculta a obs de exer pesado
                    heavy.classList.add('d-none')
                    heavy.classList.remove('d-block')

                    //Add visuald e erro
                    input.classList.add('text-danger')
                    input.classList.add('input-danger')

                    repts.classList.add('text-danger')
                    repts.classList.remove('text-gray1')
                }
            }
        }
    }

    function gerarTreino(title, input, id) {
        // Cria um novo objeto com as informações do exercício
        const exer = getImgUrl(title.innerText)
        let novoExercicio = {}
        var valueInput = parseInt(input.value)

        let exerFound = allexercicies.filter(e => e.name == title.innerText)[0]

        let segundos = Math.round(valueInput / 2)//Resposta em segundos
        let repeticao = Math.round(60 / segundos) // Repostas em repetição


        if (exerFound.segs || 'kg' in exerFound) {
            exerFound.segs ?
                novoExercicio = { name: title.innerText, count: segundos, rept: repeticao, rest: 3, url: exer, num: id, segs: "true" } :
                novoExercicio = { name: title.innerText, kg: valueInput, rept: 3, rest: 3, url: exer, num: id }
        }
        else {
            novoExercicio = { name: title.innerText, count: valueInput, rept: 3, rest: 3, url: exer, num: id };
        }

        const found = treino.findIndex(e => e.name == novoExercicio.name)

        if (found !== -1) {

            if (exerFound.segs) {
                // add no treino, com as regras de segundos
                treino[found].rept = repeticao
                treino[found].count = segundos
            }
            else {
                if ('kg' in exerFound) {
                    treino[found].kg = valueInput
                    treino[found].rept = 3

                } else {
                    if (treino[found].name == "Dips na paralela" || treino[found].name == "Pull Ups") {
                        if (valueInput == 3 || valueInput == 4 || valueInput == 5) {
                            if (valueInput == 3) {
                                treino[found].rept = 5
                                treino[found].count = (valueInput - 1)
                            }
                            if (valueInput == 4) {
                                treino[found].rept = 5
                                treino[found].count = (valueInput - 1)
                            }
                            if (valueInput == 5) {
                                treino[found].rept = 4
                                treino[found].count = (valueInput - 1)
                            }
                        }
                        else {
                            treino[found].rept = 3
                            treino[found].count = (valueInput - 1)
                        }
                    }
                    else {
                        treino[found].rept = 3
                        treino[found].count = (valueInput - 1)
                    }
                }
            }
        }
        else {
            treino.push(novoExercicio);
            console.log(treino)
        }
    }

    function filter(id, name, category, type, nivel) {
        // Mescla os dados entre os arrays
        let arrayCorrecty = correctingArray(treino, allexercicies)
        // Procura no array de exercicios qual é o que vai ser alterado
        let exerFound = allexercicies.filter(e => e.name == name)

        let filterType


        const divHidden = document.getElementById('divToggle')
        divHidden.classList.remove('d-none')
        divHidden.classList.add('d-block')

        const inputValue = document.getElementById('ValidExer' + id)
        let input = parseInt(inputValue.value)


        nivel = exerFound[0].nivel
        let segs = exerFound[0].segs
        // Verifica se o exercicio precisa tratar segundos
        if (segs) {
            //input 18s
            let segundos = input / 2 //9s
            let repeticao = 60 / segundos // 6 reptes
            let sugundosTotais = segundos * repeticao // 54segundos totais
            if (repeticao == 5 || repeticao == 6) {

            }
            if (repeticao > 6 || input <= 60) {
                nivel -= 1
            }
            if (repeticao < 2) {
                nivel += 1
            }

        }
        else {
            if (input != null) {
                input == 0 || input <= 2 ? nivel -= 2 : null;

                input >= 3 && input <= 5 ? nivel -= 1 : null;

                input >= 6 && input <= 15 ? nivel : null  // valor ser mostrado default

                input > 15 && input <= 25 ? nivel += 1 : null;

                input > 25 && input <= 40 ? nivel += 2 : null;

                nivel > 6 ? nivel = 6 : nivel = nivel

                nivel < 0 ? nivel = 0 : nivel = nivel
            }

        }

        if (category) {
            filterType = allexercicies.filter(exercise => exercise.category === category);
        }
        // Filtra os exercícios com base no nível, se o nível for especificado
        if (nivel !== undefined && nivel >= 0) {
            filterType = filterType.filter(exercise => exercise.nivel === nivel);
        }
        // Filtra os exercícios com base no tipo, se o tipo for especificado
        if (type) {
            filterType = filterType.filter(exercise => exercise.type === type);
        }


        // Retira exercicios repetidos
        let filtered = filterType.filter((item, index, arr) => {
            return arr.findIndex(t => t.name === item.name) === index;
        });
        filterType = filtered;

        // Retira os exercicios que estão no newExercisesBase
        let altered = [];
        filterType.forEach(e => {
            if (!newExercisesBase.find(i => i.name === e.name)) {
                altered.push(e);
            }
        });
        filterType = altered;

        // Retira todos os exercicios com o nome do que está subistituindo
        filterType = filterType.filter(e => e.name !== exerFound[0].name);
        if (filterType.length < 1) {
            const divPai = document.getElementById('divToggle')
            divPai.innerHTML = ''

            const zeroExer = document.getElementById('zeroExer')
            zeroExer.classList.add('d-none')
            const exerLeve = document.getElementById('exerLeve')
            exerLeve.classList.add('d-none')

            let exerSameCategory = arrayCorrecty.filter(e => e.category == exerFound[0].category && e.name != exerFound[0].name)


            // Se não tiver outro exercicio no treino 
            if (exerSameCategory.length > 0) {
                //Mostrar messagem que só tera esse exercicio até ele evoluir o suficiente para fazer outro exercicio
                const exerLeve = document.getElementById('exerLeve')
                exerLeve.classList.remove('d-none')

                const ESC = document.getElementById('exerSameCategory')
                ESC.innerHTML = exerSameCategory[0].name

                const titleModal = document.getElementById('exampleModalLabel')
                titleModal.innerHTML = 'Atenção'
                titleModal.classList.add('fw-bolder')

                const exerLeveRemove = document.getElementById('exerLeveRemove')
                exerLeveRemove.onclick = function () { removeExer(exerFound) };

            }
            else {
                // Identificamos qual é o outro exercicio da mesma categoria
                let otherExerSameCategory = listExer.filter(e => e.category == exerFound[0].category && e.name != exerFound[0].name)[0]
                // descobrimos o index dele
                let index = allexercicies.findIndex(e => e.name == otherExerSameCategory.name)
                // Atraves do index puxamos o valor do input
                const inputExer = document.getElementById('ValidExer' + (index + 1))
                // Verificamos se o botão está aparecendo
                const toggleExer = document.getElementById('toggleExer' + (index + 1))



                const btnSugest = document.getElementById('btnSugest')
                const titleSugest = document.getElementById('titleSugest')
                const categoryNull = document.getElementById('categoryNull')
                const sugest = document.getElementById('sugest')

                // Verifica se o exercicio de mesma categoria está vazio
                if (inputExer.value == "") {
                    btnSugest.classList.add('d-none')
                    sugest.classList.add('d-none')
                    categoryNull.classList.add('d-none')

                    titleSugest.innerHTML = `Sugerimos tentar fazer o <strong>${otherExerSameCategory.name}</strong> antes de fazer a troca desse exercicio`

                }
                // Se estiver preenchido e não for valido
                else {
                    if (inputExer.value != "" && toggleExer.classList.contains('d-none')) {
                        btnSugest.classList.add('d-none')
                        categoryNull.classList.add('d-none')
                        sugest.classList.remove('d-none')

                        titleSugest.innerHTML = `Verificamos que você conseguiu fazer o ${otherExerSameCategory.name}. E este exercicio que você está tentando trocar é o de nivel 0 (Não tem exercicio mais fraco)`

                        sugest.innerHTML = `Sugerimos que mantenha apenas com 1 exercicio da categoria ${otherExerSameCategory.category}`
                    }
                    // Se estiver preenchido e for valido
                    else {

                        btnSugest.classList.remove('d-none')
                        sugest.classList.remove('d-none')


                        titleSugest.innerHTML = `Verificamos que não conseguiu fazer os exercicios de NIVEL 0 da categoria <strong>${exerFound[0].category}</strong> (${otherExerSameCategory.name} e ${exerFound[0].name})</span>`


                        sugest.innerHTML = 'Sugerimos mudar para <strong>Treino Hibrido</strong> ou <strong>Treino de Musculação</strong>'

                    }
                }




                const zeroExer = document.getElementById('zeroExer')
                zeroExer.classList.remove('d-none')

                const zeroEcategoryNullxer = document.getElementById('categoryNull')
                zeroEcategoryNullxer.innerHTML = exerFound[0].category


            }
        }
        else {
            const zeroExer = document.getElementById('zeroExer')
            zeroExer.classList.add('d-none')
            const divPai = document.getElementById('divToggle')
            divPai.innerHTML = ''
            var x = 1
            filterType.forEach(e => {
                // cria o primeiro elemento
                const div1 = document.createElement('div');
                div1.classList.add('row', 'reset-Padding', 'my-3');

                // cria o segundo elemento
                const div2s = document.createElement('div');
                div2s.classList.add('col-5', 'reset-Padding', 'd-flex', 'justify-content-center', 'align-items-center');

                // cria o terceiro elemento
                const img = document.createElement('img');
                img.setAttribute('width', '115');
                img.setAttribute('height', 'auto');
                img.setAttribute('src', e.url);

                // adiciona o terceiro elemento ao segundo elemento
                div2s.appendChild(img);

                // cria o quarto elemento
                const div3 = document.createElement('div');
                div3.classList.add('col-7', 'd-flex', 'align-items-center', 'reset-Padding');

                // cria o quinto elemento
                const div4 = document.createElement('div');
                div4.classList.add('row', 'reset-Padding');
                div4.id = 'row' + x
                // cria o sexto elemento
                const div5 = document.createElement('div');
                div5.classList.add('col-12', 'd-flex', 'justify-content-start', 'align-items-center', 'reset-Padding');

                // cria o sétimo elemento
                const span1 = document.createElement('span');
                span1.classList.add('reset');
                span1.textContent = e.name;

                // adiciona o sétimo elemento ao sexto elemento
                div5.appendChild(span1);

                // adiciona o sexto elemento ao quinto elemento
                div4.appendChild(div5);

                // cria o oitavo elemento
                const div6 = document.createElement('div');
                div6.classList.add('col-12', 'd-flex', 'justify-content-start', 'align-items-center', 'reset-Padding');

                // cria o nono elemento
                const span2 = document.createElement('span');
                span2.classList.add('reset');
                span2.textContent = `(${e.category} ${e.type})`;

                // adiciona o nono elemento ao oitavo elemento
                div6.appendChild(span2);

                // adiciona o oitavo elemento ao quinto elemento
                div4.appendChild(div6);

                // cria o décimo elemento
                const div7 = document.createElement('div');
                div7.classList.add('col-12', 'd-flex', 'justify-content-center', 'align-items-center', 'reset-Padding', 'W-100');

                // cria o décimo primeiro elemento
                const button = document.createElement('button');
                button.onclick = function () { subs(id, e.name, e.category, e.type, e.url, e.nivel) };
                button.id = 'toggle' + x
                button.className = 'btn btn-primary mt-2';
                button.innerText = 'Trocar';
                button.classList.add('btn', 'btn-primary', 'mt-2');
                button.setAttribute('data-bs-dismiss', 'modal');
                button.setAttribute('style', 'width: 100%');
                button.textContent = 'Trocar';

                // adiciona o décimo primeiro elemento ao décimo elemento
                div7.appendChild(button);

                // adiciona o quinto e o décimo elemento ao quarto elemento
                div4.appendChild(div5);
                div4.appendChild(div6);
                div4.appendChild(div7);

                // adiciona o segundo e o quarto elemento ao terceiro elemento
                div3.appendChild(div4);

                // adiciona o segundo e o terceiro elemento ao primeiro elemento
                div1.appendChild(div2s);
                div1.appendChild(div3);

                // adiciona o primeiro elemento ao elemento pai
                divPai.appendChild(div1);
                x++
            })

        }

    }

    function subs(id, name, category, type, img, nivel) {
        const Name = document.getElementById('ValidTitle' + id)
        const Img = document.getElementById('img' + id)
        const div = document.getElementById('toggleExer' + id)
        const input = document.getElementById('ValidExer' + id)
        const repts = document.getElementById('repts' + id)

        var nameExer = allexercicies.filter(e => e.name == name)

        // Subistituir no array
        var i = listExer.findIndex(e => e.category == category && e.type == type)
        listExer[i] = nameExer[0]

        if (nameExer[0].segs) {
            repts.innerHTML = 'SEGS'
        }
        else {
            repts.innerHTML = 'REPS'
        }

        // zerar a div do botão
        div.innerHTML = ''

        div.innerHTML = `<button id="${'btn' + id}" onclick="filter(${id}, '${name}', '${category}', '${type}', ${nivel})" class="btn btn-primary mb-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Trocar Exercicío</button>
        <span id="${'heavy' + id}" class="reset text-danger text-start px-2 d-none" style="font-size: 10px;">
        *Ops, sua quantidade de ${nameExer[0].segs ? 'segundos' : 'repetição'} está baixa! Vamos trocar para um mais leve?
        </span>
      
        <span id="${'light' + id}" class="reset text-danger text-start px-2 d-none" style="font-size: 10px;">
          *Ops, sua quantidade de ${nameExer[0].segs ? 'segundos' : 'repetição'} está alta! Vamos trocar para um mais pesado?
        </span> 
      
        </div>
        <span id="${'success' + id}" class="reset px-3 text-start text-success d-none" style="font-size: 10px;">
        Perfeito, agora é só descansar ${nameExer[0].rest}m e fazer o próximo exercício
        </span> 
        `

        // Trocando o exercicio
        Name.innerHTML = name
        Img.src = img

        // Esconde o button
        const btn = document.getElementById('toggleExer' + id)
        btn.classList.add('d-none')
        btn.classList.remove('d-block')

        // Zerar input
        input.value = ''

        input.classList.remove('text-danger')
        input.classList.remove('input-exer')
        input.classList.remove('input-danger')
        input.classList.remove('input-exer-fail')

        input.classList.add('input-exer')
        input.classList.add('input-value')

        repts.classList.remove('text-danger')
        repts.classList.add('text-gray1')


    }

    function removeExer(exer, id, Title, Input, exerRestante) {

        // Remove o exercicio do array
        var treino2 = []
        listExer.forEach(e => {
            if (e == undefined) {
                return
            }
            treino2.push(e)
        })

        let index = treino2.findIndex(e => e.name === exer[0].name);
        if (index !== -1) {
            treino2.splice(index, 1); //remova o elemento com o índice encontrado
        }

        let treinoDel = treino.findIndex(e => e.name === exer[0].name)
        if (treinoDel !== -1) {
            listExer.splice(treinoDel, 1); //remova o elemento com o índice encontrado
        }

        // ---------------------------------------------------------------------
        // remove visualmente o exer
        var x = 1
        listExer.forEach(e => {
            if (e == undefined) {
                return
            }
            if (e.name == exer[0].name) {
                const divRemove = document.getElementById('exer' + x)
                divRemove.remove()
            }
            x++
        })
        listExer = treino2
        if (Title) {
            gerarTreino(Title, Input, id)
        }

        if (exerRestante) {
            let index = newExercisesBase.findIndex(e => e.name == exerRestante[0].name)

            let input = document.getElementById('ValidExer' + (index + 1))
            input.classList.remove('input-danger')
            input.classList.remove('text-danger')
        }
        return newExercisesBase; //retorne o array atualizado
    }

    function btnClockStart(id) {
        const input = document.getElementById('ValidExer' + id);
        const btn = document.getElementById('toggleExer' + id)
        const light = document.getElementById('light' + id)
        const heavy = document.getElementById('heavy' + id)
        const repts = document.getElementById('repts' + id)
        const success = document.getElementById('success' + id)
        const noInput = document.getElementById('noInput' + id)


        if (input.value == NaN || input.value == null || input.value == undefined || input.value == "") {
            input.classList.remove('input-exer')
            input.classList.add('input-exer-fail')
            repts.classList.add('text-danger')
        } else {
            repts.classList.remove('text-danger')
            input.classList.remove('txt-header-input')
            input.classList.add('input-value')
            repts.classList.add('txt-header-input')
            const clock = document.getElementById(`clock${id}`)
            clock.innerHTML = ''
            //clock.remove()

            const container = document.getElementById(`container${id}`);
            const progressBar = document.getElementById(`progress-bar${id}`);
            const countdownTime = document.getElementById(`timecount${id}`);
            const countdown = document.getElementById(`countdown${id}`);

            container.style.backgroundColor = '#E5E5E5'
            progressBar.classList.remove('d-none')
            countdown.classList.remove('d-none')

            const totalTime = 3; // Tempo total em segundos (3 minutos)
            let currentTime = 0;

            const updateProgress = setInterval(() => {
                currentTime++;
                const progressPercentage = (currentTime / totalTime) * 100;
                progressBar.style.width = `${progressPercentage}%`;

                // Atualizar countdown
                const remainingTime = totalTime - currentTime;
                const minutes = Math.floor(remainingTime / 60).toString().padStart(2, '0');
                const seconds = (remainingTime % 60).toString().padStart(2, '0');
                countdownTime.textContent = `${minutes}:${seconds}`;

                // Atualizar background color
                const hue = Math.floor((currentTime / totalTime) * 120); // Valor entre 0 e 120
                //const saturation = 100; // Valor fixo
                //const lightness = 50; // Valor fixo
                //container.style.backgroundColor = `hsl(${hue}, ${saturation}%, ${lightness}%)//`;

                if (currentTime >= totalTime) {
                    clearInterval(updateProgress);

                    const finishExer = document.getElementById(`finishExer${id}`)
                    finishExer.classList.remove('d-none')

                    container.classList.add('d-none')
                    light.classList.add('d-none')
                    heavy.classList.add('d-none')
                    success.classList.add('d-none')

                }
            }, 1000);
        }




    }

    function nextSlideExer(id) {
        const modal = $('#exampleModal');
        if (modal.length) {
            modal.modal('hide');
        }
        if (id != listExer.length) {
            $('.carousel2').carousel('next')
        }
        else {
            enviarTreino()
        }
    }

    function verificationCountOfRept(training) {
        let arrayAux = [];
        training.forEach(exer => {
            let detailOfExer = allexercicies.filter(e => e.name == exer.name)[0]
            arrayAux.push(detailOfExer)
        })

        let Push = arrayAux.filter(e => e.category == 'Push')
        let Pull = arrayAux.filter(e => e.category == 'Pull')
        let Core = arrayAux.filter(e => e.category == 'Core')
        let Legs = arrayAux.filter(e => e.category == 'Legs')

        if (Push.length < 2) {
            training.forEach(exer => {
                if (exer.name == Push[0].name) {
                    exer.rept = 4
                }
            })
        }

        if (Pull.length < 2) {
            training.forEach(exer => {
                if (exer.name == Pull[0].name) {
                    exer.rept = 4
                }
            })
        }

        if (Core.length < 2) {
            training.forEach(exer => {
                if (exer.name == Core[0].name) {
                    exer.rept = 4
                }
            })
        }

        if (Legs.length < 2) {
            training.forEach(exer => {
                if (exer.name == Legs[0].name) {
                    exer.rept = 4
                }
            })
        }
    }

    async function enviarTreino() {
        if (treino.length == listExer.length) {
            loading(true)
            verificationCountOfRept(treino)
            try {
                const response = await fetch('/sendTraining', {
                    method: 'POST',
                    body: JSON.stringify(treino),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.redirected) {
                    window.location.replace(response.url);
                } else {
                    //loadExer(false)
                }
            } catch (error) {
                console.error('Erro na requisição:', error);
                // Esconde a animação de carregamento
                loadExer(false)
            }
        }
    }

    window.filter = filter;
    window.enviarTreino = enviarTreino;
    window.removeExer = removeExer;
    window.btnClockStart = btnClockStart;
    window.nextSlideExer = nextSlideExer;
</script>
{% endblock %}