{% extends 'base.html' %}
{% block content %}
<div id="father">
</div>

<script type="module">
    import { apiPost } from './assets/js/api.js'
    let data;

    async function chosenRoutine(rotina) {
        const response = await fetch('/saveTraining', {
            method: 'POST',
            body: JSON.stringify(rotina),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (response.redirected) {
            window.location.replace(response.url);
        } else {
            //loadExer(false)
        }
    }

    function creatData(data) {
        const father = document.getElementById('father')
        const Training = JSON.parse(data.Training);

        //Se nao tiver rotina vai mostrar a messagem
        if (data.ChosenTraining != null){
            const ChosenTraining = data.ChosenTraining.charAt(0).toLowerCase() + data.ChosenTraining.slice(1);
            const tr = Training[ChosenTraining];
            const TrainingDays = data.TrainingDays;
            data = { Training: tr, ChosenTraining: ChosenTraining, TrainingDays: TrainingDays }

            tr.d1? 
            father.innerHTML= `
                <select id="selectDia" class="form-select w-50 m-auto my-5" aria-label="Default select example">
                    <option value="d1">Dia 1</option>
                    <option value="d2">Dia 2</option>
                </select>
            
                <div id="content"></div>
                `: father.innerHTML =' <div id="content"></div>'

            return data
        }
        else{
            if(data.TrainingDays == 4){
                father.innerHTML = `
                <div id="text1" class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <h5 class="text-center">Verificamos que você tem disponiblidade para 4 dias de treino, neste caso você tem
                            algumas opções de rotina</h5>
                    </div>
                </div>
                <div id="text2" class="row my-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalQuiz">
                            Escolher Rotina
                        </button>
                    </div>
                </div>
    
                <div class="modal fade" id="modalQuiz" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="modalQuizLabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalQuizLabel">Rotinas</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body reset-Padding-x">
                                <div id="quizRotina" data-bs-touch="false" class="carousel slide mt-1 mb-3">
                                    <div class="carousel-inner px-3">
                                        <div class="carousel-item active">
                                            <div class="row gap-3">
                                                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                                    <h2 class="text-center">FullBody</h2>
                                                </div>
    
                                                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                                    <span class="text-center">3x por semana - 8 exercicios por dia</span>
                                                    <span class="text-center">Duração: 1h30 á 2h por treino</span>
                                                    <span class="text-center">Duração com Paired Sets: 50m á 1h20 por treino</span>
                                                </div>
                                                <div
                                                    class="col-12 d-flex flex-column justify-content-center align-items-center py-2 rounded-3 bg-success-50">
                                                    <span class="text-center text-uppercase fw-bold">Vantagens: </span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                Ideial para iniciantes com mais de quase 2h disponiveis para treiar.
                                                            </span>
                                                        </li>
                                                    </ul>
    
                                                </div>
                                                <div
                                                    class="col-12 d-flex flex-column justify-content-center align-items-center py-2 rounded-3 bg-danger-50">
                                                    <span class="text-center text-uppercase fw-bold">Desvantagens:</span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                Ruim para pessoas com sobrepeso e homens com mais de 50 anos.
                                                            </span>
                                                        </li>
                                                    </ul>
    
                                                </div>
                                                <div class="col-12 gap-2 d-flex justify-content-center align-items-center">
                                                    <button class="btn btn-gray" type="button" data-bs-target="#quizRotina"
                                                        data-bs-slide="prev">
                                                        <span class=" text-black correct-size"
                                                            style="width: 17px !important;  height: 17px !important; font-size: 1rem;">
                                                            < </span>
                                                    </button>
    
                                                    <button class="btn btn-success text-uppercase" data-bs-dismiss="modal"
                                                        onclick="chosenRoutine('Fullbody')">Quero esse!</button>
    
                                                    <button class="btn btn-gray" type="button" data-bs-target="#quizRotina"
                                                        data-bs-slide="next">
                                                        <span class=" text-black correct-size"
                                                            style="width: 17px !important;  height: 17px !important; font-size: 1rem;">
                                                            > </span>
                                                    </button>
    
                                                </div>
    
                                            </div>
                                        </div>
    
                                        <div class="carousel-item ">
                                            <div class="row gap-3">
                                                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                                    <h2 class="text-center">Push/Pull</h2>
                                                </div>
    
                                                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                                    <span class="text-center">4x na semana - 4 exercicios por dia</span>
                                                    <span class="text-center">Duração: 1h á 1h30 por treino</span>
                                                    <span class="text-center">Duração com Paired Sets: 35 min a 1h por treino</span>
                                                </div>
                                                <div
                                                    class="col-12 d-flex flex-column justify-content-center align-items-center py-2 rounded-3 bg-success-50">
                                                    <span class="text-center text-uppercase fw-bold">Vantagens: </span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                A duração de cada treino é menor.
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                Funciona bem para Iniciantes, Intermediários e Avançados.
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                Ideal para pessoas com sobrepeso e homens acima dos 50 anos.
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div
                                                    class="col-12 d-flex flex-column justify-content-center align-items-center py-2 rounded-3 bg-danger-50">
                                                    <span class="text-center text-uppercase fw-bold">Desvantagens:</span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                Tem menos dias de descanso, você treina 4x na semana.
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
    
                                                <div class="col-12 gap-2 d-flex  justify-content-center align-items-center">
                                                    <button class="btn btn-gray" type="button" data-bs-target="#quizRotina"
                                                        data-bs-slide="prev">
                                                        <span class=" text-black correct-size"
                                                            style="width: 17px !important;  height: 17px !important; font-size: 1rem;">
                                                            < </span>
                                                    </button>
    
                                                    <button class="btn btn-success text-uppercase" data-bs-dismiss="modal"
                                                        onclick="chosenRoutine('PushPull')">Quero esse!</button>
    
                                                    <button class="btn btn-gray" type="button" data-bs-target="#quizRotina"
                                                        data-bs-slide="next">
                                                        <span class=" text-black correct-size"
                                                            style="width: 17px !important;  height: 17px !important; font-size: 1rem;">
                                                            > </span>
                                                    </button>
    
                                                </div>
    
                                            </div>
                                        </div>
    
                                        <div class="carousel-item ">
                                            <div class="row gap-3">
                                                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                                    <h2 class="text-center">Upper/Lower</h2>
                                                </div>
    
                                                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                                    <span class="text-center">4x na semana - 8 exercicios por dia</span>
                                                    <span class="text-center">Duração: 1h á 1h30 por treino</span>
                                                    <span class="text-center">Duração com Paired Sets: 35 min a 1h por treino</span>
                                                </div>
                                                <div
                                                    class="col-12 d-flex flex-column justify-content-center align-items-center  rounded-3 bg-success-50">
                                                    <span class="text-center text-uppercase fw-bold">Vantagens: </span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                Rotina de menor duração.
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                Ideial para iniciantes a avançados.
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                Ideal para praticantes de luta, futebol, volley e outros
                                                                esportes.
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div
                                                    class="col-12 d-flex flex-column justify-content-center align-items-center rounded-3 bg-danger-50">
                                                    <span class="text-center text-uppercase fw-bold">Desvantagens:</span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                Tem menos dias de descanso, você treina 4x na semana.
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
    
                                                <div class="col-12 gap-2 d-flex  justify-content-center align-items-center">
                                                    <button class="btn btn-gray" type="button" data-bs-target="#quizRotina"
                                                        data-bs-slide="prev">
                                                        <span class=" text-black correct-size"
                                                            style="width: 17px !important;  height: 17px !important; font-size: 1rem;">
                                                            < </span>
                                                    </button>
    
                                                    <button class="btn btn-success text-uppercase" data-bs-dismiss="modal"
                                                        onclick="chosenRoutine('UpperLower')">Quero esse!</button>
    
                                                    <button class="btn btn-gray" type="button" data-bs-target="#quizRotina"
                                                        data-bs-slide="next">
                                                        <span class=" text-black correct-size"
                                                            style="width: 17px !important;  height: 17px !important; font-size: 1rem;">
                                                            > </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
            }
            else{
                father.innerHTML= `
                <select id="selectDia" class="form-select w-50 m-auto my-5" aria-label="Default select example">
                    <option value="d1">Dia 1</option>
                    <option value="d2">Dia 2</option>
                </select>
            
                <div id="content"></div>
                `
                chosenRoutine('Fullbody')
            }
        }


    }
    
    function creatPage(d) {
        const father = document.getElementById('father')
        let chosenTraining;
        let training = data.Training;
        if (training.length > 4){
            chosenTraining = training
        } 
        else{
            chosenTraining = training[d]
        } 

        const content = document.getElementById('content')
        content.innerHTML = ''
        chosenTraining.forEach(e => {
            content.innerHTML += `
            <div class="row reset-Padding mt-5">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <img class="rounded-4" id="img"
                        src="${e.url}" alt=""
                        style="width: 100%; height: auto;">
        
                </div>
        
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 reset-Padding"
                            style="font-size: 20px; color: #707070; text-transform: uppercase; font-weight: 800">${e.name}</div>
        
                        <div class="${e.kg ? `col-3` : `col-4`} d-flex flex-column reset-Padding centerized">
                            <span style="align-self: flex-start;" class="">Série</span>
                            <span class="me-4">${e.rept}</span>
                        </div>
        
                        <div class=" ${e.kg ? `col-3` : `col-4`} d-flex flex-column reset-Padding centerized">
                            <span>Reps</span>
                            <span>${e.count? e.count:e.rept1}</span>
                        </div>
        
                        ${e.kg ? `
                            <div class="col-3 d-flex flex-column reset-Padding centerized">
                                <span>Kg</span>
                                <span>${e.kg}</span>
                            </div>
                        `: ``}

        
                        <div class="${e.kg ? `col-3` : `col-4`} d-flex flex-column reset-Padding centerized">
                            <span>Reset</span>
                            <span>3m</span>
                        </div>
                    </div>
                </div>
            </div>
            `
        })

    }

    window.addEventListener('load', async function () {
        data = await apiPost('getData', false)
        data = creatData(data)   
        creatPage('d1')

        const select = document.getElementById('selectDia');
        select.addEventListener('change', function () {
        var selectedValue = this.value;
        creatPage(selectedValue);
    });
    })

    window.creatPage = creatPage
    window.chosenRoutine =  chosenRoutine
</script>
{% endblock %}