{% extends 'base.html' %}


{% block content %}
<div class="row mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center gap-2">
        <h1 id="chosenTraining" class="fw-bolder" style="color: #707070;">{{data[3].chosenTraining}}</h1>
        <div class="squad2-active">segunda</div>
        <div class="squad2-active">quinta</div>

    </div>
</div>

<span class="d-none" id="dataDB">{{data[3]}}</span>

<section id="TrainingRegular" class="mt-3" style="height: 100% ; overflow-y: auto;">
    <div class="accordion" id="bodyAccordion">
    </div>
</section>

<div id="accountant" class="d-none"></div>

<audio id="myAudio">
    <source src="assets/audio/not.mp3" type="audio/mp3">
</audio>

<!-- Modal -->
<div class="modal fade" id="toggleExer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="toggleExerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="toggleExerLabel">Escolha um exercicio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="toggleExerContent" class="modal-body d-flex flex-column justify-content-center align-items-center">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<div id="finishe" class="d-none row mb-5 mt-2">
    <div class="col-12 d-flex justify-content-center align-itemns-center">
        <button onclick="finishedTraining()" class="btn btn-primary text-uppercase">Finalizar treino</button>
    </div>
</div>

<script type="module">
    import { creatCronometro, stopCounter, incrementDuration, decrementDuration } from './assets/js/cronometro.js';

    $(document).ready(function () {
        $('.Header').each(function () {
            $(this).click(function () {
                var expanded = $(this).attr('aria-expanded');

                if (expanded === 'true') {
                    $(this).addClass('expanded');
                } else {
                    $(this).removeClass('expanded');
                }
            });
        });
    });

    var newTraining = [];
    var new_order = [];
    var numberInput = [1, 2, 3, 4, 5, 6, 7, 8];
    let exer = giveExer();
    var Data;
    let highestRepetitionNumber = 0;
    let toWait = false;
    let training;

    function creatChebox(i, e) {
        const check = document.getElementById('exer' + i + 'check' + e)
        const line = document.getElementById('exer' + i + 'line' + e)
        const fontSerie = document.getElementById('exer' + i + 'fontSerie' + e)
        const fontAnt = document.getElementById('exer' + i + 'fontAnt' + e)
        const bgFontSt = document.getElementById('exer' + i + 'bgFontSt' + e)
        const bgKg1 = document.getElementById('exer' + i + 'bgKg' + e)
        const bgCheck = document.getElementById('exer' + i + 'bgCheck' + e)
        const kg = document.getElementById('exer' + i + 'kg' + e)
        const repts = document.getElementById('exer' + i + 'repts' + e)
        if (check != null) {
            check.addEventListener('change', () => {

                if (check.checked) {
                    let validat = validationInput(i, e)

                    if (validat != 'ok') {
                        check.checked = false
                        return
                    }
                    let allChecked = true;

                    training.forEach((e, index) => {
                        for (let serie = 0; serie < e.rept; serie++) {
                            let aux = serie + 1
                            let checkValid = document.getElementById('exer' + index + 'check' + aux);

                            if (!checkValid.checked) {
                                allChecked = false;
                                break;
                            }
                        }
                    });

                    if (allChecked) {
                        document.getElementById('finishe').classList.remove('d-none')
                    } else {
                        creatCronometro()
                    }


                    //Add os stylos de sucesso
                    line.classList.add('bg-sucess-exer')
                    fontSerie.style.color = 'white';
                    fontAnt.style.color = 'white';
                    bgFontSt.style.color = 'white';
                    kg.style.color = 'white'
                    repts.style.color = 'white'

                }
                else {
                    line.classList.remove('bg-sucess-exer')
                    fontSerie.style.color = '#707070';
                    fontAnt.style.color = '#707070';
                    bgFontSt.style.color = '#707070';
                    kg.style.color = '#707070'
                    repts.style.color = '#707070'
                }
            })
        }
        else {
            return
        }
    }

    function creatEvents() {
        creatVar()
        //Verifica qual é a quantidaed maior de repetições
        Data.forEach(e => {
            if (highestRepetitionNumber < e.rept) {
                highestRepetitionNumber = e.rept
            }
        })

        //Com a quantidade amior cria os ouvintes de evento 
        for (let i = 0; i < training.length; i++) {
            for (let e = 1; e <= highestRepetitionNumber; e++) {
                creatChebox(i, e)
            }
        }
    }

    function creatVar() {
        const valueData = document.getElementById(`dataDB`)
        let dataOfDataBase = valueData.innerHTML.replace(/'/g, "\"").replace(/True/g, "true");
        return Data = JSON.parse(dataOfDataBase).training;
    }

    function stringToUpperCase(string) {
        // Divide a string em um array de palavras
        const palavras = string.split(" ");

        // Aplica a transformação em cada palavra
        for (let i = 0; i < palavras.length; i++) {
            palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1).toLowerCase();
        }

        // Junta as palavras de volta em uma string
        string = palavras.join(" ");

        return string
    }

    function getName(id) {
        //Pega o dados do exercicio que o backend enviou
        let name = document.getElementById(`name${id}`).innerText;
        name = stringToUpperCase(name)
        let index = training.findIndex(e => e.name == name)
        let Exer;

        index != -1 ? Exer = training[index] : null
        return Exer
    }

    function dangerInput(str) {
        const input = document.getElementById(str)
        if (input == null) return;
        input.classList.add('text-danger')
        input.classList.add('input-danger')
    }

    function clearInput(str) {
        const input = document.getElementById(str)
        if (input == null) return;
        input.classList.remove('text-danger')
        input.classList.remove('input-danger')
    }

    function validationInput(id, serie) {
        const inputKg = document.getElementById('exer' + id + 'kg' + serie)
        const input = document.getElementById('exer' + id + 'repts' + serie)

        if (input == null) return;

        let Exer = getName(id)

        if (Exer.segs) {
            let segundos = parseInt(input.value) / 2 //Resposta em segundos
            let repeticao = 60 / Math.round(segundos) // Repostas em repetição
            repeticao = Math.round(repeticao)
            let sugundosTotais = segundos * repeticao

            if (input.value != null && input.value != undefined && input.value != '0') {
                console.log('Entrou')
                addTraining(id, serie)
                return 'ok'

            }
        }

        if (inputKg != null) {

            if (inputKg.value != null && inputKg.value != undefined && inputKg.value != '0') {
                addTraining(id, serie)
                return 'ok'

            }
        }

        if (!('segs' in Exer) && inputKg === null) {
            if (input.value != null && input.value != undefined && input.value != '0') {
                addTraining(id, serie);
                return 'ok'
            }
        }

        let strKG = 'exer' + id + 'kg' + serie
        let str = 'exer' + id + 'repts' + serie

        input.value == '0' ? dangerInput(str) : clearInput(str)
        inputKg.value == '0' ? dangerInput(strKG) : clearInput(strKG)
    }

    function creatExers(data) {
        let id;
        let div = ''
        training = data
        training.forEach((e, index) => {
            console.log(e)
            div += `
            <div class="accordion-item mt-2">
                <div id="${'header' + index}" class="Header row" type="button" data-bs-toggle="collapse" data-bs-target="#${'collapse' + index}"
                    aria-expanded="false" aria-controls="${'collapse' + index}">
                    <div class="col-1 count">${index + 1}</div>
                    <div class="col-4 p-2 reset-Padding d-flex justify-content-center align-items-center">
                        <img src="${e.url}" style="border-radius: 50%; width:80px; height:80px">
                    </div>
                    <div class="col-7 reset-Padding">
                        <div class="row">
                            <div class="col-12 title reset-Padding">
                                <span id="${'name' + index}" class="title-exer">${e.name}</span>
                            </div>
                            <div class="col-1 reset-Padding d-flex justify-content-start align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                                    fill="none" stroke="#707070" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-clock">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <polyline points="12 6 12 12 16 14"></polyline>
                                </svg>
                            </div>
                            <div class="col-11 reset-Padding d-flex justify-content-start align-items-center">
                                <span class="description-exer">Descanso: 3 minutos</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Main accordion-collapse collapse" id="${'collapse' + index}" data-bs-parent="#bodyAccordion">
                    <div class="row pe-2 ps-2 py-2">
                        <div class="col-2 row-header-line-exer">Série</div>
                        <div class="col-4 row-header-line-exer">Anterior</div>
                        <div class="col-2 row-header-line-exer">Reps</div>
                        <div class="col-2 row-header-line-exer">Kg</div>
                        <div class="col-2 row-header-line-exer">
                            <i class="bi bi-check-lg"></i>
                        </div>
                    </div>
            `;

            const elements = [];

            for (let x = 0; x < e.rept; x++) {
                id = x + 1;

                let element = `
                    <div id="${'exer' + index + 'line' + id}" class="row pe-2 ps-2 py-2 ${x % 2 == 1 ? 'bg-par-exer' : ''}">
                        <div id="${'exer' + index + 'fontSerie' + id}" class="col-2 centers font-serie">${id}</div>
                        <div id="${'exer' + index + 'fontAnt' + id}" class="col-4 centers font-exer-ant">10x10Kg</div>
                        <div id="${'exer' + index + 'bgFontSt' + id}" class="col-2 centers font-status">
                            <input id="${'exer' + index + 'repts' + id}" class="input-repts" type="number" value="0">
                        </div>
                        <div id="${'exer' + index + 'bgKg' + id}" class="col-2 centers">
                            <input id="${'exer' + index + 'kg' + id}" type="number" class="input-repts" value="0">
                        </div>
                        <div id="${'exer' + index + 'bgCheck' + id}" class="col-2 centers">
                            <input id="${'exer' + index + 'check' + id}" class="form-check-input check-exer" type="checkbox">
                        </div>
                    </div>
                `;
                elements.push(element);
            }

            div += elements.join('');
            div += `</div></div></div>`;
        });

        document.getElementById('bodyAccordion').innerHTML = div;
    }

    window.addEventListener("load", function () {
        let data = creatVar()
        creatExers(data)
        creatEvents()
    });

    function addTraining(id, serie) {
        let strKG = 'exer' + id + 'kg' + serie
        let str = 'exer' + id + 'repts' + serie
        clearInput(str)
        clearInput(strKG)

        const inputKg = document.getElementById(strKG)
        const input = document.getElementById(str)

        let newData = getName(id)
        let index = newTraining.findIndex(e => e.name === newData.name)

        if (index == -1) {
            if ('segs' in newData ) {
                newData[`rept${serie}`] = parseInt(input.value);
                newTraining.push(newData);
            }

            if (!('segs' in newData) && !('kg' in newData)) {
                newData[`rept${serie}`] = parseInt(input.value);
                newTraining.push(newData);
            }

            if ('kg' in newData) {
                newData[`rept${serie}`] = parseInt(input.value);
                newData[`kg${serie}`] = parseInt(inputKg.value);
                newTraining.push(newData);
            }

        } else {
            if ('segs' in newData ) {
                newTraining[index][`rept${serie}`] = parseInt(input.value);
            }

            if (!('segs' in newData) && !('kg' in newData)) {
                newTraining[index][`rept${serie}`] = parseInt(input.value);
            }
           

            if ('kg' in newData) {
                newTraining[index][`rept${serie}`] = parseInt(input.value);
                newTraining[index][`kg${serie}`] = parseInt(inputKg.value);
            }

        }
        console.log(newTraining)
    }

    async function finishedTraining() {
        loading(true)

        const valueData = document.getElementById(`dataDB`);
        let dataOfDataBase = valueData.innerHTML.replace(/'/g, "\"").replace(/True/g, "true");
        let data = JSON.parse(dataOfDataBase);

        newTraining.forEach(training => {
            delete training.newExer;
            if (training.rept1 === training.rept2 && training.rept2 === training.rept3 && training.rept1 >= 15 && training.segs == null) {
                training.newExer = true;
            }
            if (training.rept1 === training.rept2 && training.rept2 === training.rept3 && training.rept1 >= 60 && training.segs == 'true') {
                training.newExer = true;
            }
        });

        let numberexer

        if (data.chosenDay == 'd0') {
            numberexer = data.training.length
        }
        else {
            numberexer = data.training[data.chosenDay].length
        }

        if (newTraining.length == numberexer) {
            let training = data.fullTraining

            if (data.chosenDay == 'd1') {
                newTraining = { 'd1': newTraining, 'd2': training.d2, 'chosenDay': '1' }
            }
            if (data.chosenDay == 'd2') {
                newTraining = { 'd1': training.d1, 'd2': newTraining, 'chosenDay': '2' }
            }

            try {
                const response = await fetch('/saveTrainingTracker', {
                    method: 'POST',
                    body: JSON.stringify(newTraining),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    const data = await response.json();
                    window.location.href = '/user';
                } else {
                    loading(false)
                    throw new Error('Erro na requisição:', response.status);
                }
            } catch (error) {
                console.error(error);
            }
        }
    }



    function openModalToggleExer(exer) {
        let info = creatVar()

        info.chosenDay == 1 ? info = info['d2'] : info = info['d1']
        //Filtrando o valor do data atraves da string ('Nome do exercicio')
        let listNewExer = info.filter(e => e.name == exer)[0]

        var modal = new bootstrap.Modal(document.querySelector(`#toggleExer`));
        modal.show()

        const modal2 = document.getElementById('toggleExerContent')
        modal2.innerHTML = ''
        let contentDiv = modal2.innerHTML

        listNewExer.newExer.forEach(e => {
            contentDiv += `
            <div class="row reset-Padding-x mt-5">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h3>${e.name}</h3>
                    <h5>Categora: ${e.category} / Nivel: ${e.nivel}</h5>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img src="${e.url}" style="width: 80%; height: auto;">
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                    <button data-bs-toggle="modal" data-bs-target="#toggleExer" onclick="attTraining('${e.name}', '${exer}')"
                        class="btn btn-success text-uppercase w-100">Troca por esse</button>
                </div>
            </div>
            `
            modal2.innerHTML = contentDiv
        })

    }

    function attTraining(name, oldName) {
        debugger
        let info = creatVar()
        info.chosenDay == 1 ? info = info['d2'] : info = info['d1']
        let indexDiv
        let dataExer
        info.forEach(obj => {
            if (obj.newExer != null) {
                obj.newExer.forEach(exer => {
                    // aqui você pode fazer a verificação do item desejado dentro de "newExer"
                    if (exer.name === name) {
                        //Atualizar o traino
                        let ind = info.findIndex(e => e.name == oldName)

                        if (ind != -1) {
                            indexDiv = ind + 1
                            //Trocando os exercicios
                            exer.num = info[ind].num
                            exer.required = info[ind].required
                            info[ind].segs ? exer.segs = info[ind].segs : null
                            exer.rept = info[ind].rept
                            exer.count = 0
                            exer.rept1 = 0
                            exer.rept2 = 0
                            exer.rept3 = 0
                            exer.rest = 3
                            info[ind] = exer
                            dataExer = info[ind]
                        }
                    }
                })
            }
        })

        const div = document.getElementById(`div${indexDiv}`)
        div.innerHTML = `
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img class="rounded-4" id="exer${indexDiv}" width="68" height="68" src="${dataExer.url}" alt="">
        </div>
    
        <div class="col-9 d-flex align-items-center ps-3 pe-5">
            <div id="reptDiv${indexDiv}" class="row">
                <div class="col-12 reset-Padding">
                    <input type="hidden" name="nivel">
                    <span class="reset text-uppercase" style="font-size: 18px;">${indexDiv}º${dataExer.name}</span>
                    <span class="d-none" id="name${indexDiv}">${JSON.stringify(dataExer)}</span>

                </div>               
              
            </div>
    
        </div>`

        const divReptExer = document.getElementById(`reptDiv${indexDiv}`)
        let num = dataExer.rept

        for (let i = 1; i - 1 < num; i++) {
            divReptExer.innerHTML += `
            <div class="col-4 d-flex flex-column justify-content-center align-items-start my-2 reset-Padding">
                <p class="reset text-uppercase text-gray1">SÉRIE</p>
                <input class="w-75 text-center rounded-3" type="text" placeholder="${i}" disabled>
            </div>

            <div class="col-4 d-flex flex-column justify-content-center align-items-center reset-Padding">
                ${dataExer.segs ? '<p class="reset text-uppercase text-gray1">SEGS</p>' : '<p class="reset text-uppercase text-gray1">REPS</p>'}
                <input required="true" id="ValidExer${indexDiv}Serie${i}" class="w-75 input-value text-center rounded-3"
                    type="number">

            </div>

            <div class="col-4 d-flex flex-column justify-content-center align-items-end reset-Padding">
                <p class="reset text-uppercase text-gray1">PAUSA</p>
                <input id="reset${indexDiv}Serie${i}" required="true" disabled placeholder="3min"
                    class="w-75 input-value text-center rounded-3" type="text">
            </div>
            `
        }
        for (let i = 1; i < 9; i++) {
            for (let e = 1; e <= highestRepetitionNumber; e++) {
                validationInput(i, e)
            }
        }
    }

    function notToggleExer(exer) {
        debugger
        let dataExer = JSON.parse(exer);
        let info = creatVar()
        info.chosenDay == 1 ? info = info['d2'] : info = info['d1']
        let indexDiv

        let index = info.findIndex(e => e.name == dataExer.name)
        if (index != -1) {
            indexDiv = index + 1
        }

        const div = document.getElementById(`div${indexDiv}`)
        div.innerHTML = `
        <div class="col-3 d-flex justify-content-center align-items-center">
            <img class="rounded-4" id="exer${indexDiv}" width="68" height="68" src="${dataExer.url}" alt="">
        </div>
    
        <div class="col-9 d-flex align-items-center ps-3 pe-5">
            <div id="reptDiv${indexDiv}" class="row">
                <div class="col-12 reset-Padding">
                    <input type="hidden" name="nivel">
                    <span class="reset text-uppercase" style="font-size: 18px;">${indexDiv}º${dataExer.name}</span>
                    <span class="d-none" id="name${indexDiv}">${JSON.stringify(dataExer)}</span>

                </div>               
              
            </div>
    
        </div>`

        const divReptExer = document.getElementById(`reptDiv${indexDiv}`)
        let num = dataExer.rept

        if (dataExer.kg) {
            for (let i = 1; i - 1 < num; i++) {
                divReptExer.innerHTML += `
                <div class="col-3 d-flex flex-column justify-content-center align-items-start my-2 reset-Padding">
                    <p class="reset text-uppercase text-gray1">SÉRIE</p>
                    <input class="w-75 text-center rounded-3" type="text" placeholder="${i}" disabled>
                </div>
    
                <div class="col-3 d-flex flex-column justify-content-center align-items-center reset-Padding">
                    ${dataExer.segs ? '<p class="reset text-uppercase text-gray1">SEGS</p>' : '<p class="reset text-uppercase text-gray1">REPS</p>'}
                    <input required="true" id="ValidExer${indexDiv}Serie${i}" class="w-75 input-value text-center rounded-3"
                        type="number">
    
                </div>

                <div class="col-3 d-flex flex-column justify-content-center align-items-center reset-Padding">
                   <p class="reset text-uppercase text-gray1">KG</p>
                    <input required="true" id="ValidKg${indexDiv}Serie${i}" class="w-75 input-value text-center rounded-3"
                        type="number">
    
                </div>
    
                <div class="col-3 d-flex flex-column justify-content-center align-items-end reset-Padding">
                    <p class="reset text-uppercase text-gray1">PAUSA</p>
                    <input id="reset${indexDiv}Serie${i}" required="true" disabled placeholder="3min"
                        class="w-75 input-value text-center rounded-3" type="text">
                </div>
                `
            }
        }
        else {
            for (let i = 1; i - 1 < num; i++) {
                divReptExer.innerHTML += `
                <div class="col-4 d-flex flex-column justify-content-center align-items-start my-2 reset-Padding">
                    <p class="reset text-uppercase text-gray1">SÉRIE</p>
                    <input class="w-75 text-center rounded-3" type="text" placeholder="${i}" disabled>
                </div>
    
                <div class="col-4 d-flex flex-column justify-content-center align-items-center reset-Padding">
                    ${dataExer.segs ? '<p class="reset text-uppercase text-gray1">SEGS</p>' : '<p class="reset text-uppercase text-gray1">REPS</p>'}
                    <input required="true" id="ValidExer${indexDiv}Serie${i}" class="w-75 input-value text-center rounded-3"
                        type="number">
    
                </div>
    
                <div class="col-4 d-flex flex-column justify-content-center align-items-end reset-Padding">
                    <p class="reset text-uppercase text-gray1">PAUSA</p>
                    <input id="reset${indexDiv}Serie${i}" required="true" disabled placeholder="3min"
                        class="w-75 input-value text-center rounded-3" type="text">
                </div>
                `
            }
        }


        delete info[index].newExer;

        for (let i = 1; i < 9; i++) {
            for (let e = 1; e <= highestRepetitionNumber; e++) {
                validationInput(i, e)
            }
        }

    }

    //training.addEventListener('change', function () {
    //    const valueData = document.getElementById(`dataDB`)
    //    let dataOfDataBase = valueData.innerHTML.replace(/'/g, "\"").replace(/True/g, "true");
    //
    //    let auxiliar = JSON.parse(dataOfDataBase).fullTraining
    //    let auxiliar2 = JSON.parse(dataOfDataBase).chosenDay
    //    let data;
    //    if (auxiliar2 == 'd0') {
    //        data = auxiliar
    //    }
    //    else {
    //        data = auxiliar[auxiliar2]
    //    }
    //    const ps = document.getElementById('TrainingPs')
    //    const regularTraining = document.getElementById('TrainingRegular')
    //
    //    var intercalated = transformToParedPairedSets(data)
    //    let idExer = []
    //    if (training.checked) {
    //        if (backupPs != '') {
    //            ps.innerHTML = backupPs
    //            regularTraining.innerHTML = ''
    //        }
    //        else {
    //            regularTraining.innerHTML = ''
    //            ps.innerHTML = ''
    //            let div = ps.innerHTML
    //            if (intercalated.length == 12) {
    //                idExer = [
    //                    [[1, 1], [3, 2], [5, 3]], // primeiro exercicio [divID, numberRept]
    //                    [[2, 1], [4, 2], [6, 3]], // segundo exercicio [divID, numberRept]
    //                    [[7, 1], [9, 2], [11, 3]], // terceiro exercicio [divID, numberRept]
    //                    [[8, 1], [10, 2], [12, 3]] // quarto exercicio [divID, numberRept]
    //                ]
    //            }
    //            else {
    //                idExer = [
    //                    [[1, 1], [3, 2], [5, 3]], // primeiro exercicio [divID, numberRept]
    //                    [[2, 1], [4, 2], [6, 3]], // segundo exercicio [divID, numberRept]
    //                    [[7, 1], [9, 2], [11, 3]], // terceiro exercicio [divID, numberRept]
    //                    [[8, 1], [10, 2], [12, 3]], // quarto exercicio [divID, numberRept]
    //                    [[13, 1], [15, 2], [17, 3]], // quinto exercicio [divID, numberRept]
    //                    [[14, 1], [16, 2], [18, 3]], // sexto exercicio [divID, numberRept]
    //                    [[19, 1], [21, 2], [23, 3]], // setimo  exercicio [divID, numberRept]
    //                    [[20, 1], [22, 2], [24, 3]], // oitavo exercicio [divID, numberRept]
    //                ]
    //            }
    //            let exer = []
    //            let aux = 1
    //            let sun = 1
    //
    //            intercalated.forEach(item => {
    //                if (item.hasOwnProperty('newExer')) {
    //                    console.log("newExer")
    //                }
    //                else {
    //
    //                    itemString = JSON.stringify(item)
    //
    //                    item['divID'] = sun
    //                    exer.push(item)
    //                    div += `<div id="div${sun}" class="row position-relative py-4">
    //                        <div class="col-3 d-flex justify-content-center align-items-center">
    //                            <img class="rounded-4" id="exer${sun}" width="68" height="68" src="${item.url}" alt="">
    //                        </div>
    //            
    //                        <div class="col-9 d-flex align-items-center ps-3 pe-5">
    //                            <div id="reptDiv${sun}" class="row">
    //                                <div class="col-12 reset-Padding">
    //                                    <input type="hidden" name="nivel">
    //                                    <span class="reset text-uppercase" style="font-size: 18px;">${sun}º${item.name}</span>
    //                                    <span class="d-none" id="name${sun}">${itemString}</span>
    //                                </div>
    //                            </div>
    //                        </div>
    //                    </div>`
    //                }
    //
    //                sun++
    //            })
    //            ps.innerHTML = div
    //
    //            let teste = 1
    //            idExer.forEach(e => {
    //                // e[] -> matriz do exercicio
    //                e.forEach(i => {
    //                    const rep = document.getElementById(`reptDiv${i[0]}`)
    //                    if (rep == null) {
    //                        rep = document.createElement()
    //                    }
    //                    // i(int) -> id dos exercicios
    //                    teste++
    //                    id = i[0]
    //                    rpt = i[1]
    //                    let info = exer.filter(a => a.divID == i[0])[0]
    //
    //                    if (info.hasOwnProperty('kg')) {
    //                        rep.innerHTML += `
    //                            <div class="col-3 d-flex flex-column justify-content-center align-items-start my-2 reset-Padding">
    //                                <p class="reset text-uppercase text-gray1">SÉRIE</p>
    //                                <input class="w-75 text-center rounded-3" type="text" placeholder="${i[0]}" disabled>
    //                            </div>
    //        
    //                            <div class="col-3 d-flex flex-column justify-content-center align-items-center reset-Padding">                          
    //                                 ${info.hasOwnProperty('segs') ? `<p class="reset text-uppercase text-gray1">SEGS</p>` : `<p class="reset text-uppercase text-gray1">REPS</p>`}
    //    
    //                                <input pattern="^-?\d*\.?\d+$" inputmode="numeric" required="true"
    //                                    id="ValidExer${id}Serie${rpt}" class="w-75 input-value text-center rounded-3"
    //                                    type="number">
    //                            </div>  
    //                            <div class="col-3 d-flex flex-column justify-content-center align-items-center reset-Padding">                          
    //                                <p class="reset text-uppercase text-gray1">KG</p> 
    //
    //                               <input pattern="^-?\d*\.?\d+$" inputmode="numeric" required="true"
    //                                   id="ValidKg${id}Serie${rpt}" class="w-75 input-value text-center rounded-3"
    //                                   type="number">
    //                           </div>  
    //                            
    //                            
    //                            <div class="col-3 d-flex flex-column justify-content-center align-items-end reset-Padding">
    //                                <p class="reset text-uppercase text-gray1">PAUSA</p>
    //                                <input id="reset${id}Serie${rpt}" required="true" disabled placeholder="1:30m"
    //                                    class="w-75 input-value text-center rounded-3" type="text">
    //                            </div>`
    //                    }
    //                    else {
    //                        rep.innerHTML += `
    //                            <div class="col-4 d-flex flex-column justify-content-center align-items-start my-2 reset-Padding">
    //                                <p class="reset text-uppercase text-gray1">SÉRIE</p>
    //                                <input class="w-75 text-center rounded-3" type="text" placeholder="${i[0]}" disabled>
    //                            </div>
    //        
    //                            <div class="col-4 d-flex flex-column justify-content-center align-items-center reset-Padding">                          
    //                                 ${info.hasOwnProperty('segs') ? `<p class="reset text-uppercase text-gray1">SEGS</p>` : `<p class="reset text-uppercase text-gray1">REPS</p>`}
    //    
    //                                <input pattern="^-?\d*\.?\d+$" inputmode="numeric" required="true"
    //                                    id="ValidExer${id}Serie${rpt}" class="w-75 input-value text-center rounded-3"
    //                                    type="number">
    //                            </div>       
    //                            <div class="col-4 d-flex flex-column justify-content-center align-items-end reset-Padding">
    //                                <p class="reset text-uppercase text-gray1">PAUSA</p>
    //                                <input id="reset${id}Serie${rpt}" required="true" disabled placeholder="1:30m"
    //                                    class="w-75 input-value text-center rounded-3" type="text">
    //                            </div>`
    //                    }
    //
    //                    validationInput(id, rpt)
    //
    //                })
    //                aux++
    //            })
    //            var contentPS = document.getElementById('TrainingPs')
    //            backupPs = contentPS.innerHTML
    //        }
    //
    //    }
    //
    //    else {
    //        ps.innerHTML = ''
    //        regularTraining.innerHTML = backupNormal
    //    }
    //})

    function transformToParedPairedSets(data) {

        // Cria um aray com o numero de repetição do exercicio
        data.forEach(function (e) {
            var repeated_e = Array(e['rept']).fill(e).map(function (d, i) {
                var d_copy = Object.assign({}, d);  // cria uma cópia do objeto
                d_copy['rept_num'] = i + 1;  // adiciona um novo campo 'rept_num' com o número de repetição
                d_copy['rest'] = '1:30';  // altera o campo 'reset' para '1:30'
                return d_copy;
            });
            new_order.push.apply(new_order, repeated_e);
        });

        // Agrupa esse array por categoria
        var categories = {};
        new_order.forEach(function (a) {
            var category = a['category'];
            if (!(category in categories)) {
                categories[category] = [];
            }
            categories[category].push(a);
        });

        // Pega o nome da rotina e separa achando a letra maiuscula retornando um array 
        // cat = name.replace(/([A-Z])/g, ' $1').trim().split(' ')
        names = Object.keys(categories)

        // Intercala esse array
        var array1 = [];
        if (names.length <= 2) {
            for (var i = 0; i < Math.min(categories[names[0]].length, categories[names[1]].length); i++) {
                array1.push(categories[names[0]][i]);
                array1.push(categories[names[1]][i]);
            }
        }
        else {
            for (var i = 0; i < Math.min(categories[names[0]].length, categories[names[1]].length); i++) {
                array1.push(categories[names[0]][i]);
                array1.push(categories[names[1]][i]);

            }
            for (var i = 0; i < Math.min(categories[names[2]].length, categories[names[3]].length); i++) {
                array1.push(categories[names[2]][i]);
                array1.push(categories[names[3]][i]);
            }
        }

        return array1
    }

    window.stopCounter = stopCounter;
    window.incrementDuration = incrementDuration;
    window.decrementDuration = decrementDuration;
    window.creatCronometro = creatCronometro;
    window.finishedTraining = finishedTraining;

</script>
{% endblock %}