{% extends 'base.html' %}


{% block content %}
<div style="margin-bottom: 50px;">
    <div class="row margin-content mt-5">
        <div class="col-12 d-flex justify-content-around align-items-center reset-Padding">
            <div class="rounded-circle d-flex justify-content-center align-items-center"
                style="width: 100px; height: 100px; background-color: rgb(43, 43, 168);">
                <h1 class="display-1 text-white">{{data[0]}}</h1>
            </div>

            <div class=" d-flex flex-column justify-content-center align-items-between">
                <h3 class="text-center">{{data[3].name}}</h3>

                <div class="d-flex justify-content-between align-content-center gap-3">

                    <div class="d-flex flex-column">
                        <span>Treinos</span>
                        <span> 135</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span class="text-center">Seguidores</span>
                        <span class="text-center"> 89</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span class="text-end">Segindo</span>
                        <span class="text-end"> 10</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary position-relative w-75" style="height: 60px;">
            <h5 class="reset text-black text-uppercase">Rotina: {{data[3].chosenTraining}}</h5>

            <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-dark d-flex justify-content-center align-items-center"
                style="width: 45px; height: 45px;">
                <i class="bi bi-arrow-down-up fs-4" style="margin-top: -5px;"></i>
            </span>

        </button>
    </div>

    <div class="row mt-5 gap-3 d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h3>Seus equipamentos</h3>
        </div>

        {% if data[3].equip|length == 0 %}
        <div class="col-12 d-flex justify-content-center align-items-center">
            
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center"> Sem equipamentos
            </h5>
           
        </div>
        {% endif%}
        <div class="col-12 d-flex justify-content-center align-items-center">
            {%if data[3].equip[0] %}
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center">{{data[3].equip[0]}}
            </h5>
            {%endif%}
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            {%if data[3].equip[1] %}
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center">{{data[3].equip[1]}}
            </h5>
            {%endif%}
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            {%if data[3].equip[2] %}
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center">{{data[3].equip[2]}}
            </h5>
            {%endif%}
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            {%if data[3].equip[3] %}
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center">{{data[3].equip[3]}}
            </h5>
            {%endif%}
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            {%if data[3].equip[4] %}
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center">{{data[3].equip[4]}}
            </h5>
            {%endif%}
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            {%if data[3].equip[5] %}
            <h5 class="d-flex justify-content-center align-items-center reset equip text-center">{{data[3].equip[5]}}
            </h5>
            {%endif%}
        </div>
    </div>

    <div id="divHistoryTraining" class="row my-5 d-none">
        <div class="col-12 d-flex justify-content-center align-items-center mb-2">
            <h1> Historico de Treino </h1>
        </div>
        <div class="col-12">
            <div class="accordion" id="historyTraining">


            </div>
        </div>
    </div>

</div>

<script type="module">
    let training;

    import { apiGet } from './assets/js/api.js'
    
    window.addEventListener('load', async (e) => {
        training = await getApi()
    })

    const PS = document.getElementById('pairedSetsValue');
    async function getApi() {
        let dayOfTraining = {}
        training = await apiGet('getLastTraining', false);
        const divHistoryTraining = document.getElementById('divHistoryTraining')

        if (training.message == 'No data found') {
            divHistoryTraining.classList.add('d-none')
        }
        else {
            divHistoryTraining.classList.remove('d-none')
            if (Array.isArray(training)) {
                training.forEach((e, index) => {
                    const historyTraining = document.getElementById('historyTraining')
                    historyTraining.innerHTML += `
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${index}" aria-expanded="true" aria-controls="collapse${index}">
                                  Treino do dia ${e.date}
                              </button>
                            </h2>
                            <div id="collapse${index}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#historyTraining">
                              
                            </div>
                          </div>
                        `
                    if (e.training.chosenDay != undefined && e.training.chosenDay == '1') {
                        dayOfTraining = e.training.d1
                    }

                    if (e.training.chosenDay != undefined && e.training.chosenDay == '2') {
                        dayOfTraining = e.training.d2
                    }

                    if (e.training.chosenDay == undefined) {
                        dayOfTraining = e.training
                    }

                    dayOfTraining.forEach(data => {
                        const div = document.getElementById(`collapse${index}`)
                        div.innerHTML += `
                        <div class="accordion-body">
                            <div class="row d-flex justify-content-center align-items-center reset-Padding-x py-3 border-bottom">
                                <div class="col-6 d-flex justify-content-center align-items-center reset-Padding-x">
                                    <h4 class="text-center">${data.name}</h4>
                                </div>
                                <div class="col-5 d-flex flex-column justify-content-center align-items-center reset-Padding-x">
                                    <span>1ª ${data.segs ? 'Segundos' : 'Repetição'}: ${data.rept1}</span>
                                    <span>2ª ${data.segs ? 'Segundos' : 'Repetição'}: ${data.rept2}</span>
                                    <span>3ª ${data.segs ? 'Segundos' : 'Repetição'}: ${data.rept3}</span>
                                </div>
                            </div>                            
                        </div>
                            
                            `
                    })
                })
            }
            else {
                training.foreach((e, index) => {
                    const historyTraining = document.getElementById('historyTraining')
                    historyTraining.innerHTML += `
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${index}" aria-expanded="true" aria-controls="collapse${index}">
                                  Treino do dia ${e.date}
                              </button>
                            </h2>
                            <div id="collapse${index}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#historyTraining">
                              
                            </div>
                          </div>
                        `
                    e.training.forEach(data => {
                        const div = document.getElementById(`collapse${index}`)
                        div.innerHTML += `
                        <div class="accordion-body">
                            <div class="row d-flex justify-content-center align-items-center reset-Padding-x py-3 border-bottom">
                                <div class="col-6 d-flex justify-content-center align-items-center reset-Padding-x">
                                    <h4 class="text-center">${data.name}</h4>
                                </div>
                                <div class="col-5 d-flex flex-column justify-content-center align-items-center reset-Padding-x">
                                    <span>1ª ${data.segs ? 'Segundos' : 'Repetição'}: ${data.rept1}</span>
                                    <span>2ª ${data.segs ? 'Segundos' : 'Repetição'}: ${data.rept2}</span>
                                    <span>3ª ${data.segs ? 'Segundos' : 'Repetição'}: ${data.rept3}</span>
                                </div>
                            </div>                            
                        </div>
                            
                            `
                    })
                })
            }
        }
        return training
    }
    window.getApi = getApi;
</script>

<script>


</script>
{% endblock %}