<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de treino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="manifest" href="assets/manifest.json" />
    <script src="assets/js/exer.js"></script>
    {% block header %} {% endblock %}
    <script>
        if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('/assets/pwabuilder-sw.js');
        }
    </script>


</head>


<body>
    {%if data[3].erro%}
    <div id="err" class="alert alert-danger position-absolute" style="top: 80px; right: auto; left: auto;" role="alert">
        {{data[3].erro}}
    </div>
    {%endif%}

    <div id="menu" class=" d-flex d-lg-none fixed-top justify-content-start align-items-center"
        style="width: 100vw !important; height: 70px; background-color: #E5E5E5;">
        <img class="icon-menu position-absolute" style="left: 15px; top: 15px; height: 40px;" src="assets/img/menu.svg"
            data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <div class="row w-100 reset-Padding h-100">
            <div class="col-12 w-100 d-flex justify-content-center align-items-center">
                <h3 class="reset font-Bungee">Tracker</h3>
            </div>
        </div>
    </div>

    <div class="row reset-Padding">

        <div class="menu-desktop border d-none d-lg-block reset-Padding "
            style="position: fixed; top: 0; right: 0; left: 0; z-index: 1030; height: 100vh;">

            <div class=" d-flex justify-content-center row-menu-header">
                <div class="row reset-Padding ">
                    <div class="col-12 d-flex justify-content-end align-items-end w-100">
                        <h1 class="reset font-Bungee menu-header">Tracker</h1>
                    </div>
                </div>
            </div>


            <div
                class="row reset-Padding mt-2 d-flex flex-column align-items-center justify-content-between row-content-menu">
                <div class="col-10 reset-Padding">

                    <div class="d-flex justify-content-start align-items-center div-item-menu {%if data[3]['nav'] == 'home' %} menu-item-active {%endif%}"
                        onclick="window.location.href='/'">


                        <svg xmlns="http://www.w3.org/2000/svg" class="menu-item-icon" viewBox="0 0 24 24" fill="none"
                            stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        <h3 class="reset menu-item-text">Início</h3>
                    </div>

                    {% if data[5] == True %}
                    <div class="d-flex justify-content-start align-items-center div-item-menu {%if data[3]['nav'] == 'creat' %} menu-item-active {%endif%}"
                        onclick="window.location.href='/exercice'">
                        <svg xmlns="http://www.w3.org/2000/svg" class="menu-item-icon" viewBox="0 0 24 24" fill="none"
                            stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home ">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        <h5 class="reset pt-1 menu-item-text">Lista de exercícios</h5>
                    </div>

                    <div class="d-flex justify-content-start align-items-center div-item-menu {%if data[3]['nav'] == 'user' %} menu-item-active {%endif%}"
                        style="margin-inline: auto;" onclick="window.location.href='/user'">
                        <svg xmlns="http://www.w3.org/2000/svg" class="menu-item-icon" viewBox="0 0 24 24" fill="none"
                            stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <h5 class="reset pt-1 menu-item-text">Meu perfil</h5>

                    </div>
                    {% endif %}

                    <div id="btn-install-button1"
                        class="d-flex justify-content-center align-items-center reset-Padding div-btn-app">

                        <svg id="download-icon" xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                            viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="d-none d-xxl-block  feather-download"
                            style="margin-left: 10px;">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="7 10 12 15 17 10"></polyline>
                            <line x1="12" y1="15" x2="12" y2="3"></line>
                        </svg>

                        <svg id="download-icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                            viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="d-none d-lg-block d-xxl-none  feather-download"
                            style="margin-left: 10px;">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="7 10 12 15 17 10"></polyline>
                            <line x1="12" y1="15" x2="12" y2="3"></line>
                        </svg>

                        <!-- <i class="bi bi-download ps-3 pe-3 pb-3 text-white btn-icon.app"></i> -->
                        <button id="install-button" class="w-100 text-uppercase text-white fw-bolder reset-Padding"
                            style="display:none;">Baixar APP</button>
                    </div>

                </div>

                <div class="col-10 d-flex justify-content-between align-items-lg-center reset-Padding position-relative"
                    style="margin-inline: auto;">

                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#FFC400"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>

                        <span class="reset name-user">{{data[0]}}</span>
                    </div>



                    <div id="container-floating">

                        <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="">
                            <p class="item-btn-float" onclick="window.location.href='/logout'">Logout</p>
                        </div>

                        <div id="floating-button" data-toggle="tooltip" data-placement="left"
                            data-original-title="Create">

                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black"
                                class="bi bi-three-dots-vertical plus" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>


                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                class="bi bi-three-dots-vertical edit" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </div>

                    </div>
                </div>


            </div>

        </div>

        <div id="body-content" class="col-12 col-lg-8  reset-Padding margin-Body">
            {% block content %} {% endblock %}
        </div>
    </div>

    <!-- Menu -->
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel" style="width: 80% !important;">

        <div class=" d-flex justify-content-">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" fill="#545454"
                stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x position-absolute" style="top: 11px; left: 8px; color: #545454; z-index: 998;"
                data-bs-dismiss="offcanvas" aria-label="Close">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>


            <div class="row reset-Padding position-absolute"
                style="left: 0; top: 0;width: 100vw; height: 70px;z-index: 997;">
                <div class="col-12 d-flex justify-content-center align-items-center w-100 m-auto">
                    <h3 class="reset font-Bungee">Tracker</h3>
                </div>
            </div>
        </div>

        <div class="offcanvas-body">

            <div class="row reset-Padding" style="margin-top: 100px;">

                <div class="col-12 d-flex justify-content-start align-items-center gap-4 p-2  {%if data[3]['nav'] == 'home' %} menu-item-active {%endif%}"
                    onclick="window.location.href='/'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    <h3 class="reset menu-item-text">Início</h3>
                </div>

                {% if data[5] == True %}
                <div class="col-12 d-flex justify-content-start align-items-center gap-4 p-2  {%if data[3]['nav'] == 'creat' %} menu-item-active {%endif%}"
                    onclick="window.location.href='/exercice'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    <h5 class="reset pt-1 menu-item-text">Lista de exercícios</h5>
                </div>

                <div class="col-12 d-flex justify-content-start align-items-center gap-4 p-2 {%if data[3]['nav'] == 'user' %} menu-item-active {%endif%}"
                    onclick="window.location.href='/user'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="#545454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    <h5 class="reset pt-1 menu-item-text">Meu perfil</h5>

                </div>


                {% endif %}

                <div id="btn-install-button1"
                    class="d-flex justify-content-center align-items-center reset-Padding div-btn-app">

                    <svg id="download-icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                        viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class=" d-lg-none  feather-download" style="margin-left: 10px;">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="7 10 12 15 17 10"></polyline>
                        <line x1="12" y1="15" x2="12" y2="3"></line>
                    </svg>


                    <button id="install-button2" class="w-100 text-uppercase text-white fw-bolder reset-Padding"
                        style="display:none;">Baixar APP</button>
                </div>

                <div class="d-flex justify-content-center align-items-center fixed-bottom "
                    style="top: 88%; left: 0; width: 80vw;">

                    <div class="d-flex justify-content-start align-items-center gap-3 w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#FFC400"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>

                        <span class="reset name-user">{{data[0]}}</span>
                    </div>

                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16" style="margin-right: 10px;">
                        <path
                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    </svg> -->
                    <div id="container-floating">

                        <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="">
                            <p class="item-btn-float" onclick="window.location.href='/logout'">Logout</p>
                        </div>

                        <div id="floating-button" data-toggle="tooltip" data-placement="left"
                            data-original-title="Create">

                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black"
                                class="bi bi-three-dots-vertical plus" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>


                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                class="bi bi-three-dots-vertical edit" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>



    <div id="loading" class="loading d-none d-flex justify-content-center align-content-center flex-column">
        <div class="roll-loading align-self-center"></div>
        <span class="text-center mt-2">CARREGANDO...</span>
    </div>


    {% include 'footer.html'%}
</body>

<script type="module" src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let deferredPrompt;
    const exercises = giveExer();
    let divBtn = ['btn-install-button1', 'btn-install-button2']

    window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault();
        deferredPrompt = e;

        document.getElementById('install-button').style.display = 'block';
        document.getElementById('install-button2').style.display = 'block';
    });

    window.addEventListener('load', () => {
        if (window.matchMedia('(display-mode: standalone)').matches || window.navigator.standalone === true) {
            document.getElementById('install-button').style.display = 'none';
            document.getElementById('install-button2').style.display = 'none';
            divBtn.forEach(e => {
                document.getElementById(`${e}`).remove()
            })
        }
    });

    window.addEventListener('appinstalled', (evt) => {
        console.log('PWA instalado');

        consooe.log(items)
        items.foreach(e => {
            console.log(e)
            e.style.display = 'none'
        })

        document.getElementById('install-button').style.display = 'none';
        document.getElementById('install-button2').style.display = 'none';
    });

    document.getElementById('install-button').addEventListener('click', () => {
        if (deferredPrompt) {
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('Usuário aceitou instalar o PWA');
                } else {
                    console.log('Usuário recusou instalar o PWA');
                }
                deferredPrompt = null;
            });
        }
    });

    document.getElementById('install-button2').addEventListener('click', () => {
        if (deferredPrompt) {
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('Usuário aceitou instalar o PWA');
                } else {
                    console.log('Usuário recusou instalar o PWA');
                }
                deferredPrompt = null;
            });
        }
    });


    window.addEventListener('load', function () {
        const err = document.getElementById('err')
        if (err != null) {
            setTimeout(function () {
                err.classList.add('d-none')
            }, 5000);
        }
    })  
</script>

</html>